In [12]:
# Работать с файлом california_housing_train.csv, который находится в папке sample_data.
import pandas as pd
df = pd.read_csv('/content/sample_data/california_housing_train.csv')

df.head(n=2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0

In [18]:
# Задача 40: Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population)
df[df['population'] <= 500]['median_house_value'].mean()

206799.95140186916

In [24]:
# Задача 42: Узнать какая максимальная households в зоне минимального значения population
df[df['population'] == df['population'].min()]['households'].max()

4.0